body {
    font-family: sans-serif;
    margin-top: 60px;
    margin-left: 240px;
    margin-right: 240px;
    background-color: whitesmoke;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.text-small {
    font-size: 150%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container
{
    max-width: 800px;
    color: #846796;
    font-family: sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}
